@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Happy+Monkey&display=swap');
:root {
    --heading:#EDC7B7;
    --text: #BAB2B5;
    --backround: #EAE7DC;
    --headings-font-family: 'Architects Daughter', cursive;
    --text-font-family: 'Happy Monkey', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    background-color: var(--backround);
    text-align: center;
    font-family: var(--text-font-family);
    color: var(--text)
}

h2{
   color: var(--heading);
   font-family: var(--headings-font-family);
   font-size: 2.5rem;
   padding-bottom: 1rem;
}

p{
    line-height: 2;
}

hr{
    border: dotted var(--text) 16px;
    border-bottom: none;
    margin: 5rem auto;
    width: 10%;
}

.middle-container{
    margin: 5rem 0;
}

.image-cropper{
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

.profile-img{
    margin: 0 auto;
    margin-left: -5%;
    height: 100%;
    width: auto;
}


.skill-row{
    width: 25%;
    text-align: left;
    margin: 2rem auto;
    overflow: hidden;
}


.code-img{
    height: 25%;
    width: 25%;
    float: left;
    margin-right: 2rem;
}

.hobbies-img{
   height: 25%;
   width: 25%;
   float: right;
}

.btn {
	border: none;
	background: #BAB2B5 ;
	color: #ffffff !important;
	font-weight: 100;
	padding: 20px;
    text-transform: uppercase;
    text-decoration: none;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}

.btn:hover {
	color: #404040 !important;
	font-weight: 700 !important;
	letter-spacing: 3px;
	background: none;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.3s ease 0s;
}


.bottom-class{
    display: inline-block;
    margin: 1rem;
}

.li-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-wrapper i{
    margin-right: 1rem;
}

.li-wrapper a{
    text-decoration: none;
    color: var(--text);
}

.copyright{
    margin: 3rem;
}